<h1><center>Welcome</center></h1>
<button type="button" class="btn btn-dark"> 
<%= link_to 'New Student',new_student_detail_path %>
</button>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<br/>
<% @student_details.each do |sd| %>
  <%= sd.student_name %>
  <%= sd.roll_no %>
  <%= sd.address %>
  <%= sd.university_name %>
  <%= link_to 'Edit Student', edit_student_detail_path(sd) %>
  <%= link_to "Destroy", student_detail_path(sd),method: :delete,data: { confirm: "Are you sure?" } %>
<% end %>